body {
    font-family: Roboto;
    font-size: 20pt;
    font-weight: 800;
    font-variant: oblique;
    background-color: #0B943F;
    color: #940700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Tourney";
    text-align: center;
}

h1 {
    font-size: 50pt;
}

h2 {
    margin: .1em;
}

header {
    text-align: center;
}

#hero,
footer {
    color: #BBEDCE;
    border: 3px solid #BBEDCE;
    background-color: #E0655E;
    text-align: center;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(even) {
    color: darkblue
}

#hobbies ul li:nth-child(odd) {
    color: blueviolet
}

#gallery {
    border: 2px solid #BBEDCE
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
    text-decoration: underline;
}

#lit {
    border: 2px solid #BBEDCE;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

#lit div p::first-letter {
    color: darkgreen;
    font-size: 2em;
    padding: 0.1em;
    line-height: 2;
    margin-right: 0.25em;
    border: 2px solid violet;
}

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 20rem;
    }
}

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1
    }

    figure {
        display: block
    }
}